@mixin btn($fontsize: 14px) {
	display: inline-block;
	background: #000;
	color: #fff !important;
	text-decoration: none;
	font-size: $fontsize !important;
	border: 0;

	padding: {
		top: 6px;
		bottom: 2px;
		left: 7px;
		right: 7px;
	}

	&:hover {
		color: $ahover !important;
	}
	&:active {
		color: $aactive !important;
	}
}
@mixin btn-small {
	@include btn(11px);
	padding: {
		top: 4px;
		left: 5px;
		right: 5px;
		bottom: 1px;
	}
	margin-right: 4px;
	margin-bottom: 3px;
}

.btn, input[type=submit] {
	@include btn;
}
.btn-light {
	background: #fff !important;
	color: #000 !important;
}
.btn-line {
	margin-right: 5px;
}

.btn-small {
	@include btn-small;
}