@mixin btn {
	display: inline-block;
	background: #000;
	color: #fff !important;
	text-decoration: none;
	font-size: 14px !important;
	border: 0;

	padding: {
		top: 6px;
		bottom: 2px;
		left: 7px;
		right: 7px;
	}

	&:hover {
		color: #ddd !important;
	}
}

.btn, input[type=submit] {
	@include btn;
}
.btn-light {
	background: #fff;
	color: #000;

	&:hover {
		color: #555;
	}
}
.btn-line {
	margin-right: 5px;
}