$pagebackground: url('../img/bg-tags.png') repeat;
$pagebackground-color: #ff8800;
$footerbackground: url('../img/bg-tags_gray.png') repeat;
$footerbackground-color: #242424;

$a: #ff8800;        /* #046D8B */
$ahover: #046D8B;   /* #0c5063 */
$aactive: #444;

@import "normalize";
@import "wordpress";
@import "basic";

@import "layout/header";
@import "layout/nav";
@import "layout/content";
@import "layout/sidebar";
@import "layout/footer";

@import "fonts/bebasneue";
/* @import "fonts/opensans"; */
@import "fonts/ptsans";
@import "fonts/fontawesome";
@import "fonts/dirtyheadline";

@import "forms";
@import "comments";
@import "calendar";