#sidebar-wrapper {
	margin-left: 68%;

	article {
		background: #fff;
		overflow: hidden;
		margin-bottom: 20px;
		font-size: 14px;

		a.presenter {
			display: block;
			line-height: 0;
		}

		img {
			max-width: 100%;
		}

		h3 {
			font: {
				family: 'Bebas Neue', sans-serif;
				size: 20px;
				weight: normal;
			}
			background: #000;
			color: #fff;
			padding: 7px;
			padding-bottom: 5px;
			a {
				display: block;
				text-decoration: none;
				cursor: default;
				color: #fff;
			}
		}

		ul {
			margin: 0;
			padding: 3px;
			list-style: none;

			li {
				margin-bottom: 1px;
				padding: {
					left: 7px;
					top: 5px;
					right: 7px;
				}

				abbr {
					display: block;
					color: #666;
					border: 0;
					font-size: 11px;
				}

				&:nth-child(odd) {
					background: #fff;
				}
				&:nth-child(even) {
					background: #efefef;
				}
			}
		}

		&.social-icons {
			ul {
				padding: 0;

				li {
					float: left;
					padding: 0;
					margin: 0;
					background: none !important;

					&:hover {
						background: #bebebe !important;
					}
					&#twitter:hover {
						background: #00aced !important;
						a {
							color: #fff;
						}
					}
					&#facebook:hover {
						background: #3b5998 !important;
						a {
							color: #fff;
						}
					}
					a {
						line-height: 34px;
						display: block;
						color: #000;
						text-decoration: none;
						font-size: 22px;
						padding: {
							top: 7px;
							left: 8px;
							right: 8px;
							bottom: 0;
						}
					}
				}
			}
		}
	}
}