@font-face {
    font-family: 'Dirty Headline';
    src: url('../fonts/dirtyheadline/dirty_headline-webfont.eot');
    src: url('../fonts/dirtyheadline/dirty_headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dirtyheadline/dirty_headline-webfont.woff') format('woff'),
         url('../fonts/dirtyheadline/dirty_headline-webfont.ttf') format('truetype'),
         url('../fonts/dirtyheadline/dirty_headline-webfont.svg#DirtyHeadlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}